.DogDetails img {
    max-width: 50%;
    border-radius: 5%;
    margin-top: 1rem;
    justify-content: center;
}

.DogDetails ul {
    list-style-type: none;
}

.DogDetails{
    display: flex;
    text-align: center;
    padding: 15px;

}